* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(66, 90, 172, 0.753);
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 70vh;
  background-color: pink;
  color: rgba(29, 42, 87, 0.945);

  display: flex;
  margin: 30px auto;
  width: 70%;
  border-radius: 20px;
  padding: 30px;
}

.console {
  position: sticky;
  height: 130px;
  background-color: pink;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 40px;
}
.icons i {
  cursor: pointer;
}

.progress-bar {
  width: 80vw;
  text-align: center;
}

.song-container {
  margin-top: 30px;
}

.song-item {
  height: 50px;
  display: flex;
  background-color: rgb(241, 146, 162);
  width: 200%;
  margin: 12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.song-item img {
  width: 70px;
  margin: 0 23px;
}

.songtime {
  margin: 0 23px;
}

.songtime i {
  cursor: pointer;
}

input .progress-bar {
  cursor: pointer;
}

.song-listplay i {
  margin-right: 10px;
}
